[submodule "core"]
	path = core
	url = https://github.com/Raumo0/p2p-project.core.git
[submodule "services"]
	path = services
	url = https://github.com/Raumo0/p2p-project.services.git
[submodule "web"]
	path = web
	url = https://github.com/Raumo0/p2p-project.web.git
